<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>WiggyWam</title>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>


    <link  rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">

    <script src="controllers/account.manager.controller.js"></script>
    <script src="controllers/agency.controller.js"></script>
    <script src="controllers/faq.controller.js"></script>
    <script src="controllers/feedback.controller.js"></script>
    <script src="controllers/login.controller.js"></script>
    <script src="controllers/metrics.controller.js"></script>
    <script src="controllers/video.controller.js"></script>



    <script src="services/agency.service.js"></script>
    <script src="services/account.manager.service.js"></script>
    <script src="services/count.service.js"></script>
    <script src="services/faq.service.js"></script>
    <script src="services/feedback.service.js"></script>
    <script src="services/login.service.js"></script>
    <script src="services/video.service.js"></script>

      <script src="app.js"></script>
      <script src="app.route.js"></script>

  </head>
  <body ng-app="wiggywam">

    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-book"></span>Wiggywam</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/accountManager">accountManager</a></li>
                    <li><a href="/feedback">feedback</a></li>
                    <li><a href="/video">video</a>
                    <li><a href="/faq">faq</a></li>
                    <li><a href="/login">login</a></li>
                    <li><a href="#">agency</a></li>
                </ul>

            </div>
        </div>

    </header>
    {{3+4}}
    <main class="container">
              <div ng-view></div>
    </main>
  </body>
</html>
